<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="/css/jiajiao.css">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>家教网</title>
    <script src="/js/jquery-3.4.1.min.js" type="text/javascript"></script>
    <script src="/vendor/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="/vendor/popper.js/umd/popper.min.js" type="text/javascript"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <script type="text/javascript">
        $(document).ready(function () {
            // $(".dropdown-toggle").dropdown(toggle);
            var location = window.location.href;
            var id = location.substr(location.lastIndexOf('/') + 1);
            $("#" + id).addClass("active");
        });
    </script>
</head>
<body id="jiajiao">
<p><a href="/" class="navbar-link" style="text-decoration: none"><h2>家教网</h2></a></p>
<!--引入导航栏-->
<!--<div th:include="~{navigate :: nav}"></div>-->
<nav class="navbar navbar-default" id="jiajiao_nav">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">家教中心</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li id="showIndex"><a href="/showIndex">首页 <span class="sr-only">(current)</span></a></li>
                <li id="teacher"><a href="/teacher/teacher">家教信息库</a></li>
                <li id="student"><a href="/student/student">学员信息</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <!--学生登录后显示-->
                <li class="dropdown" th:if="${session.student != null}">

                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="true" id="dropdownMenu1" th:text="${session.student.getUsername()}">
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <!--                        <li><a th:href="@{'/'+${type}+'/toSetting'}">个人主页</a></li>-->
                        <li><a th:href="@{'/student/toSetting'}">个人主页</a></li>
                        <li><a th:href="@{'/'+${type}+'/logout'}">退出</a></li>
                    </ul>
                </li>
                <!--教师登录后显示-->
                <li class="dropdown" th:if="${session.teacher != null}">

                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="true" id="dropdownMenu2" th:text="${session.teacher.getUsername()}">
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <!--                        <li><a th:href="@{'/'+${type}+'/toSetting'}">个人主页</a></li>-->
                        <li><a th:href="@{'/teacher/toSetting'}">个人主页</a></li>
                        <li><a th:href="@{'/'+${type}+'/logout'}">退出</a></li>
                    </ul>
                </li>
                <!--管理员登录后显示-->
                <li class="dropdown" th:if="${session.admin != null}">

                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="true" id="dropdownMenu3" th:text="${session.admin.getUsername()}">
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a th:href="@{'/'+${type}+'/toSetting'}">个人主页</a></li>
                        <li><a th:href="@{'/'+${type}+'/logout'}">退出</a></li>
                    </ul>
                </li>
                <!--没有登录显示-->
                <li th:if="${session.student == null && session.teacher == null && session.admin== null}">
                    <a href="/">注册/登录</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container-fluid main ">
    <div class="row">
        <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12" style="padding: 0">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><strong><span th:text="${article1.title}"></span></strong>
                    </h3>
                </div>
                <div class="panel-body">
                    <textarea th:text="${article1.content}" style="height:1000px; width:100%;border: 0;"></textarea>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12" style="padding-right: 0;">
            <ul class="list-group">
                <li class="list-group-item">
                    <div class="list-group">
                        <strong><h4 class="list-group-title">热门文章</h4></strong>
                        <div type="button" class="list-group-item" th:each="article : ${articleList}">
                            <span class="glyphicon glyphicon-paperclip" style="padding-right: 5px;"></span>
                            <a th:href="@{'/student/article/'+${article.id}}"><span class="article" th:text="${article.title}"></span></a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>
