<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="/css/jiajiao.css">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>家教网</title>
    <script src="/js/jquery-3.4.1.min.js" type="text/javascript"></script>
    <script src="/js/bootstrap.js" type="text/javascript"></script>
    <script src="/vendor/popper.js/umd/popper.min.js" type="text/javascript"> </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script src="/js/jiajiao.js" type="text/javascript"></script>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
</head>
<body id="jiajiao">
<p><a href="/" class="navbar-link" style="text-decoration: none"><h2>家教网</h2></a></p>
<!--引入导航栏-->
<!--<div th:include="~{navigate :: nav}"></div>-->
<nav class="navbar navbar-default" id="jiajiao_nav">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">家教中心</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li id="showIndex"><a href="/showIndex">首页 <span class="sr-only">(current)</span></a></li>
                <li id="teacher"><a href="/teacher/teacher">家教信息库</a></li>
                <li id="student"><a href="/student/student">学员信息</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <!--学生登录后显示-->
                <li class="dropdown" th:if="${session.student != null}">

                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="true" id="dropdownMenu1" th:text="${session.student.getUsername()}">
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <!--                        <li><a th:href="@{'/'+${type}+'/toSetting'}">个人主页</a></li>-->
                        <li><a th:href="@{'/student/toSetting'}">个人主页</a></li>
                        <li><a th:href="@{'/'+${type}+'/logout'}">退出</a></li>
                    </ul>
                </li>
                <!--教师登录后显示-->
                <li class="dropdown" th:if="${session.teacher != null}">

                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="true" id="dropdownMenu2" th:text="${session.teacher.getUsername()}">
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <!--                        <li><a th:href="@{'/'+${type}+'/toSetting'}">个人主页</a></li>-->
                        <li><a th:href="@{'/teacher/toSetting'}">个人主页</a></li>
                        <li><a th:href="@{'/'+${type}+'/logout'}">退出</a></li>
                    </ul>
                </li>
                <!--管理员登录后显示-->
                <li class="dropdown" th:if="${session.admin != null}">

                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true"id="dropdownMenu3" th:text="${session.admin.getUsername()}">
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a th:href="@{'/'+${type}+'/toSetting'}">个人主页</a></li>
                        <li><a th:href="@{'/'+${type}+'/logout'}">退出</a></li>
                    </ul>
                </li>
                <!--没有登录显示-->
                <li th:if="${session.student == null && session.teacher == null && session.admin== null}">
                    <a href="/">登录</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container-fluid main ">
    <div class="row">
        <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
            <hr>
            <div class="media-detail" th:border="1px">
                <div class="media-body-detail">
                    <ul>
                        <div style="background-color: rgb(246,248,250);padding-bottom:2px;margin-left: -45px;">
                            <h1>
                                <span class="media-heading" th:text="${student.address}+${student.username}+'找家教'" style="padding-left: 8px;"></span></h3>
                            </h1>
                            <p>
                                <span class="text_left" style="font-size: 13px">发布者:</span> <span class="text_right"th:text="${student.username}"style="font-size: 13px;color: rgb(164,168,178);">家长/学员</span>
                                <span class="text_left"style="font-size: 13px;margin-left: 15px;">身份:</span> <span class="text_right"style="font-size: 13px;color: rgb(164,168,178);margin-right: 15px;">家长/学员</span>
                                <span class="text_left"style="font-size: 13px">信息编号:</span> <span class="text_right"th:text="${student.idNumber}"style="font-size: 13px;color: rgb(164,168,178);"></span>
                            </p>
                        </div>
                        <h4 style="color: green;margin-left: -38px;">具体要求</h4>
                        <li style="margin-left: -38px;">
                            <div class="nr1">
                                <span class="text_left">所在地区：</span> <span class="text_right" th:text="${student.area}" style="margin-right: 50px;font-size: 18px;color:rgb(102,102,102)"></span>
                                <span class="text_left"style="padding-left: 12px;">住址：</span>   <span class="text_right" th:text="${student.address}"style="font-size: 18px;color:rgb(102,102,102)"></span>
                            </div>
                        </li>
                        <br>
                        <li style="margin-left: -38px;">
                            <div class="nr1">
                                <span class="text_left">身份要求：</span> <span class="text_right" th:text="${student.idRequirement}" style="margin-right: 50px;font-size: 18px;color:rgb(102,102,102)"></span>
                                <span class="text_left">课时费：</span> <span class="text_right" th:text="${student.price}"style="font-size: 18px;color:rgb(102,102,102)"></span>
                            </div>
                        </li>
                        <br>
                        <li style="margin-left: -38px;">
                            <div class="nr1">
                                <span class="text_left">求教科目：</span> <span class="text_right" th:text="${student.item}" style="margin-right: 50px;font-size: 18px;color:rgb(102,102,102)"></span>
                                <span class="text_left">发布者：</span> <span class="text_right"style="font-size: 18px;color:rgb(102,102,102)">家长/学员</span>
                            </div>
                        </li><br>
                        <li style="margin-left: -38px;">
                            <div class="nr1">
                                <span class="text_left">发布时间：</span><span th:text="${#dates.format(student.createTime,'yyyy-MM-dd')}"style="font-size: 18px;color:rgb(102,102,102)"></span>
                            </div>
                        </li><br>
<!--                        <li class="nr1">-->
                            <span class="text_left"  style="margin-left: -38px">详细要求：</span> <span class="text_right text_desc" th:text="${student.detailRequirement}"style="font-size: 15px;color:rgb(102,102,102);margin-top: 0px"></span>
<!--                        </li>-->
                        <br>

                        <hr  style="margin-left: -38px">
                        <h4 style="color: green;margin-left: -38px;">学员情况</h4>
                        <li style="margin-left: -38px;">
                            <div class="nr1">
                                <span class="text_left">所在学校：</span> <span class="text_right" style="font-size: 18px;color:rgb(102,102,102)"></span>
                                <span class="text_left">所在年级：</span> <span class="text_right" style="font-size: 18px;color:rgb(102,102,102)"></span>
                            </div>
                        </li><br>
                        <li style="margin-left: -38px;">
                            <div class="nr1">
                                <span class="text_left">当前成绩：</span> <span class="text_right"style="font-size: 18px;color:rgb(102,102,102)"></span>
                            </div>
                        </li>
                        <li style="margin-left: -38px;">
                            <div class="nr1">
                                <span class="text_left">学生特点：</span> <span class="text_right"style="font-size: 18px;color:rgb(102,102,102)"></span>
                            </div>
                        </li><br>
                        <br>
                        <li style="margin-left: -38px">
                            <input type="hidden" id="student_id" th:value="${student.id}">
                            <span><button type="button" class="btn btn-success" th:if="${session.teacher!=null}" th:text="${student.phone}"></button></span>
                            <span><button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal" th:if="${session.teacher!=null}">添加预约</button></span>
                            <span><button type="button" class="btn btn-success" th:if="${session.teacher==null}" th:text="家教登录接治"></button></span>
                        </li>
                    </ul>

                </div>
                <br>
            </div>
            <hr>
        </div>



        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalCenterTitle">预约教师</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form class="form-inline">
                            <div class="text-detail">
                                <span>姓名：</span>
                                <span id="modal_student_name" th:value="${student.username}" th:text="${student.username}"></span>
                                <br><br>
                                <span>学科名称：</span>
                                <span id="modal_item" th:value="${student.item}" th:text="${student.item}">初中数学</span>
                                &nbsp;&nbsp;&nbsp;
                                <span>价格：</span>
                                <span id="modal_price" th:value="${student.price}" th:text="${student.price}">400元/小时起 </span>
                            </div>
                            <br><br>
                            <div class="form-group">
                                <label for="modal_teacher_name">教员姓名：</label>
                                <input type="text" class="form-control" id="modal_teacher_name" th:value="${session.teacher.username}">
                            </div>
                            <div class="form-group">
                                <label for="modal_student_phone">学员电话：</label>
                                <input type="text" class="form-control" id="modal_student_phone" th:value="${student.phone}">
                            </div>

                            <br><br>
                            <div class="form-group">
                                <label for="modal_teacher_phone">教员电话：</label>
                                <input type="text" class="form-control" id="modal_teacher_phone">
                            </div>
                            <div class="form-group">
                                <label for="modal_address">上课地址：</label>
                                <input type="text" class="form-control" id="modal_address" th:value="${student.area}+${student.address}">
                            </div>
                        </form>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">取消预约</button>
                        <button type="button" class="btn btn-primary" onclick="reserve()">确定预约</button>
                    </div>
                </div>
            </div>
        </div>








        <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
            <hr>
            <ul class="list-group">
                <li class="list-group-item">
                    <div class="list-group">
                        <strong><h4 class="list-group-title">最新招聘信息</h4></strong>
                        <div type="button" class="list-group-item" th:each="studentInfo : ${studentsInfo}">
                            <a th:href="'/student/toDetail/'+${studentInfo.id}" th:text="${studentInfo.address}+${studentInfo.username}+'招'+${studentInfo.item}+'家教'" style="display: block;height: 10px;width: 200px"></a>
                            <span style="padding-left: 225px;" th:text="${#dates.format(studentInfo.createTime,'MM-dd')}"></span>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="list-group" >
                        <strong><h4 class="list-group-title">热门文章</h4></strong>
                        <div type="button" class="list-group-item" th:each="article : ${articleList}">
                            <span class="glyphicon glyphicon-paperclip" style="padding-right: 5px;"></span>
                            <a th:href="@{'/student/article/'+${article.id}}"><span class="article" th:text="${article.title}"></span></a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>
