<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bdu.jiajiao.mapper.OrderMapper">
    <insert id="addOrder" parameterType="Order">
        insert into jiajiao.orders (tea_name, tea_phone, stu_name, stu_phone, item, address, price, create_time,type)
        values (#{teaName}, #{teaPhone}, #{stuName}, #{stuPhone}, #{item}, #{address}, #{price}, #{createTime}, #{type})
    </insert>

    <select id="queryByTeaName" resultType="Order">
        select * from jiajiao.orders where  tea_name= #{teaName} and type = 0
    </select>

    <select id="queryByStuName" resultType="Order">
        select * from jiajiao.orders where  stu_name= #{stuName} and type = 0
    </select>

    <select id="queryOrder" resultType="Order">
        select * from jiajiao.orders where stu_name= #{stuName} and tea_name= #{teaName}
    </select>

    <update id="updateOrder" parameterType="Order">
        update jiajiao.orders
        set tea_name=#{teaName},
            tea_phone=#{teaPhone},
            stu_name=#{stuName},
            stu_phone=#{stuPhone},
            item=#{item},
            address=#{address},
            price=#{price},
            create_time=#{createTime},
            type=#{type}
        where id = #{id}
    </update>
</mapper>
